{% extends 'auth_base.html' %}
{% load static %}

{% block title %}Login • FoodHub{% endblock %}

{% block content %}
    <h1 class="form-title">Welcome Back</h1>
    <p class="form-subtitle">Login to your FoodHub account</p>

    <form action="" method="post" id="login-form" autocomplete="on">
        {% csrf_token %}

        <label for="email">Email <span class="star-required">*</span></label>
        <input type="email" name="email" id="email" placeholder="mail@website.com" autofocus required>

        <label for="password">Password <span class="star-required">*</span></label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <input type="submit" value="Sign In" id="submit">

        <p class="have-account-line">
            Don't have an account? <a href="{% url 'register-page' %}">Sign Up</a>
        </p>
    </form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/accounts/login.js' %}"></script>
{% endblock %}