{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHub • Multi-Vendor Marketplace</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

</head>
<body class="tail-container bg-gray-50 text-gray-800">

    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}

    <div class="flex min-h-[calc(100vh-128px)]">

        <!-- SIDEBAR -->
        {% if user.is_authenticated %}
            {% include 'includes/sidebar.html' %}
        {% endif %} 


        <!-- MAIN CONTENT -->
        {% include 'includes/main_content.html' %}
    </div>
    
    <!-- Role Switch Modal -->
    {% include 'includes/role_switch_modal.html' %}

    <!-- ==================== CART MODAL ==================== -->
    {% include 'includes/cart_modal.html' %}

    




    
    <!-- all javascript are here -->
    
   

    <!-- common javascript files -->
    <script src="{% static 'js/common/session-guard.js' %}"></script>
    <script src="{% static 'js/common/home.js' %}"></script>
    <script src="{% static 'js/common/search.js' %}"></script>


    <!-- cart javascript files -->
    {% if user.is_authenticated %}
    <script src="{% static 'js/accounts/logout.js' %}"></script>
    <script src="{% static 'js/cart/cart.js' %}"></script>
    <script src="{% static 'js/cart/addToCart.js' %}"></script>
    <script src="{% static 'js/cart/populate-cart-modal.js' %}"></script>
    <script src="{% static 'js/cart/close-cart-modal.js' %}"></script>
    <script src="{% static 'js/cart/decreaseCartItem.js' %}"></script>
    <script src="{% static 'js/cart/increaseCartItem.js' %}"></script>
    <script src="{% static 'js/cart/removeCartItem.js' %}"></script>
    <script src="{% static 'js/cart/updateCartItemQuantity.js' %}"></script>
    <script src="{% static 'js/payment/chekout.js' %}"></script>
    {% endif %}

   

    <!-- vendor javascript files -->
    {% if user.is_authenticated and user.role == 'vendor' %}
    <script src="{% static 'js/vendor/delete-menu-item.js' %}"></script>
    <script src="{% static 'js/vendor/edit-menu-item.js' %}"></script>
    <script src="{% static 'js/vendor/save-edit-item.js' %}"></script>
    <script src="{% static 'js/vendor/add-new-item.js' %}"></script>
    <script src="{% static 'js/vendor/save-new-item.js' %}"></script>
    <script src="{% static 'js/vendor/close-add-modal.js' %}"></script>
    <script src="{% static 'js/vendor/close-edit-modal.js' %}"></script> 
    <script src="{% static 'js/vendor/create-product-card.js' %}"></script>  
    <script src="{% static 'js/vendor/clear-product-form.js' %}"></script> 
    <script src="{% static 'js/vendor/get-vendor-profile.js' %}"></script>
    <script src="{% static 'js/vendor/profile.js' %}"></script>
    <script src="{% static 'js/vendor/openVendorOrder.js' %}"></script>
    <script src="{% static 'js/vendor/orderStatus.js' %}"></script>
    <script src="{% static 'js/vendor/location.js' %}"></script>
    <script src="{% static 'js/customer/openCustomerOrder.js' %}"></script>
    {% endif %}


    
    <!-- categories javascript files -->
    <script src="{% static 'js/categories/fetch-categories.js' %}"></script>
    
    <!-- customer javascript files -->
    {% if user.is_authenticated and user.role == 'customer' %}
    <script src="{% static 'js/customer/get-customer-profile.js' %}"></script>
    <script src="{% static 'js/customer/profile.js' %}"></script>
    <script src="{% static 'js/customer/openCustomerOrder.js' %}"></script>
    <script src="{% static 'js/customer/toggleFavorite.js' %}"></script>
    <script src="{% static 'js/customer/getCustomerLocation.js' %}"></script>
    <script src="{% static 'js/customer/trackCustomerOrder.js' %}"></script>
    {% if google_maps_api_key %}
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&callback=initGoogleTrackingMap"></script>
    {% endif %}

    {% endif %}


    <!-- delivery javascript files -->
    {% if user.is_authenticated and user.role == 'delivery' %}
    <script src="{% static 'js/delivery/location.js' %}"></script>
    <script src="{% static 'js/delivery/get-delivery-profile.js' %}"></script>
    <script src="{% static 'js/delivery/profile.js' %}"></script>
    <script src="{% static 'js/delivery/onlineOfflineStatus.js' %}"></script>
    <script src="{% static 'js/delivery/goToVendor.js' %}"></script>
    <script src="{% static 'js/delivery/updateDeliveryOrderStatus.js' %}"></script>
    <script src="{% static 'js/delivery/goToCustomer.js' %}"></script>
    <script src="{% static 'js/customer/openCustomerOrder.js' %}"></script>
    {% endif %}
   
</body>
</html>
